body, html {
  padding: 0px;
  margin: 0px;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  color: #222;
}
.contactNow {
  display: block;
}
.logoContainer {
  width: 250px;
  height: 250px;
  /* background: #222; */
  margin: 0px auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.harkLogo {
  width: 180px;
  height: 180px;
  background: url("../styles/css/images/logos/hark.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
@media only screen and (max-width: 700px) {
  .contactNow {display: block;}
}
